spring:
  datasource:
    url: jdbc:mysql://localhost:3306/steam?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    username: dongkyun
    password: 3246
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        jdbc:
          time_zone: Asia/Seoul

  jwt:
    secret: mysosupersecretkeyqzwxecrv041256842012347+/mysosupersecretkeyqzwxecrv041256842012347+/